html, body {
   height: 100%;
}


body {
  background-image: url("https://drive.google.com/uc?export=view&id=1VPGC4eUvdHLi8LbN6KWrEhcJ1XYx1Wki");
  text-align: left;
  font-family: 'Times New Roman', sans-serif;
  color: #fff;

}
 h1{
   padding:0 15px;

 }

.createRoom{
background-color: green;
float: left;
clear: left;
}
p{
  color: black;
}

a{
  padding:0 20px;
  color:white;
}
.ng-binding{
  padding: 0 15px;
}
.messageContainer{
padding: 0 20px;
color: black;

}

.chatMessages{
  color:blue;
  background-color: white;
  opacity: 0.8;
  position: absolute;
  top: 25px;
  right: 200px;
  left:200px;
  height: 85%;
  width: 80%;
  border: 25px solid #004d00;


}

.room-title {
  max-width: 1160px;
  margin: 0 auto;

  padding: 0 20px;
  min-height: 30px;
  float: left;
  clear: left;




}

.modal-open{
  color: black;
}



h1, h2, h3, h4, h5, h6 {
   font-family: 'Times New Roman', sans-serif;
}
