html, body {
   height: 100%;
}


body {
  background-color: #0066ff;
  text-align: left;
  font-family: 'Times New Roman', sans-serif;
  color: #fff;

}
 h1{
   padding:0 20px;

 }

#createButton{

float: left;
clear: left;


}

.chatArea{
  color:black;
  background-color: white;
  position: absolute;
  top: 25px;
  right: 0;
  height: 85%;
  width: 80%;
  border: 25px solid #0066ff


}

.room-title {
  max-width: 1160px;
  margin: 0 auto;

  padding: 0 20px;
  min-height: 30px;
  float: left;
  clear: left;




}

.modal-open{
  color: black;
}



h1, h2, h3, h4, h5, h6 {
   font-family: 'Times New Roman', sans-serif;
}
