<section class="room-content">
  <h1>Bloc Chat</h1>

    <span>

      <div>
        <h3>User: {{home.currentUser}}</h3>
      </div>



        <div ng-repeat="room in home.rooms">
          <a ng-click="home.setCurrentRoom(room)"> {{ room.$value }}
            </a>
          </div>



      <button type="button" class="createRoom" ng-click="home.openModal()">New Room</button>
    </span>




      <section class="chatMessages">
          <h1>{{ home.currentRoom.$value }}</h1>
           <div class="messageContainer">
             <div class="message" ng-repeat="message in home.messages">
              <p class="messageUsername">{{ message.username }} <span class="messageTime">{{ message.sentAt | date: 'short'}} </span></p>
              <p class="messageContent">{{ message.content }}</p>
             </div>

             <div class="messageField">

            <input type="text" placeholder="Enter message..." class="message-box" ng-model="home.newMessage.content">
            <button class="btn-new-message" type="button" ng-click="home.sendMessage()" >Send</button>

        </div>
            </div>

          </section>



</section>
