<section class="room-content">
  <h1>Bloc Chat</h1>

    <span>

        <div ng-repeat="room in home.rooms">
          <a ng-click="home.setCurrentRoom(room)"> {{ room.$value }}
            </a>
          </div>



      <button type="button" class="createRoom" ng-click="home.openModal()">New Room</button>
    </span>




      <section class="chatMessages">
          <h1>{{ home.currentRoom.$value }}</h1>
           <div class="messageContainer">
             <div class="message" ng-repeat="message in home.messages">
              <p class="messageUsername">{{ message.username }} <span class="messageTime">{{ message.sentAt }}</span></p>
              <p class="messageContent">{{ message.content }}</p>
             </div>
            </div>

          </section>



</section>
